@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #FF4CFD !important;
}

.how-to-play-screen {
    background-image: url("../components/game-UI.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: #65DA5A;
    text-shadow: 4px 4px 0 #000;
    margin-top: 30px;
    left: 250px;
    position: relative;
    z-index: 1;
}

.steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 90px;
    position: relative;
    z-index: 1;
}

.step-box {
    background-color: #E8F56B;
    color: #745718;
    width: 250px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 23px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.play-button {
    background-color: #E8F56B;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 70px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.play-button:hover {
    background-color: #D9A124;
    color: white;
}

.back-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #E8F56B;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
}

.back-button:hover {
    background-color: #D9A124;
    color: white;
}

.top-left-logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 80px;
    z-index: 2;
}
