@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #E8F56B;
}

/* Transition Effect */
.hidden-screen {
  transform: translateY(-100%);
  opacity: 0;
}

.show-screen {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.4s ease-out, opacity 0.5s ease-out;
}

.who-playing-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #E8F56B;
}

/* Title */
.title {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #782600;
  text-shadow: 5px 5px 0 #fff;
  z-index: 2;
  position: absolute;
  top: 30px;
}

/* Background Watermark */
.background-watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500%;
  height: auto;
  opacity: 0.2;
  z-index: 0;
}

/* Logo (Top Left) */
.top-left-logo {
  position: absolute;
  top: 20px;
  left: -550px;
  width: 100px;
  z-index: 1;
}

/* Back Button */
.back-button {
  position: absolute;
  top: 20px;
  right: -550px;
  background-color: #F642FD;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

/* Players Section */
.players-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
}

/* Player Boxes */
.player-box {
  background-color: #D94924;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  z-index: 1;
}

.player-initial {
  font-size: 60px;
  color: yellow;
  text-shadow: 3px 3px 0 #782600;
}

.player-name {
  color: #782600;
  font-size: 20px;
  margin-top: 5px;
}

/* Add Player Box */
.add-player-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.add-icon {
  background-color: #707AD4;
  color: white;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border-radius: 50%;
  z-index: 2;
}

.add-player-box p {
  color: #707AD4;
  font-size: 35px;
}

/* Manage Players Button */
.manage-players {
  position: absolute;
  bottom: 20px;
  background-color: #F642FD;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  cursor: pointer;
  z-index: 1;
}
